name: Platform IO CI
on:
  push:
    branches: [main]
    tags: ['v*']

jobs:

  build:
    name: Build ${{ matrix.environment }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [esp32dev, lilygo-t-display-s3]
        
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'      
      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Generate image files
        run: |
          chmod +x ./generate_images.sh
          ./generate_images.sh
        shell: bash
      - name: Install PlatformIO Core
        run: python -m pip install platformio
      - name: Build firmware for ${{ matrix.environment }}
        run: platformio run -e ${{ matrix.environment }}
      - name: Rename firmware
        run: mv .pio/build/${{ matrix.environment }}/firmware.bin .pio/build/${{ matrix.environment }}/firmware-${{ matrix.environment }}.bin
      - name: Upload firmware
        uses: actions/upload-artifact@v6
        with:
          name: firmware-${{ matrix.environment }}
          path: .pio/build/${{ matrix.environment }}/firmware-${{ matrix.environment }}.bin
  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: firmware-*
          path: ./artifacts
          merge-multiple: true

      - uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}