name: Platform IO CI
on:
  push:
    branches: [main]
    tags: ['v*']

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'      
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio          
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Generate image files
        run: |
          chmod +x ./generate_images.sh
          ./generate_images.sh
        shell: bash
      - name: Install PlatformIO Core
        run: python -m pip install platformio
      - name: Build firmware
        run: platformio run
      - name: Archive firmwares
        uses: actions/upload-artifact@v4
        with:
          name: firmware.bin
          path: .pio/build/*/firmware.bin

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: firmware.bin
          path: ./artifacts
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}          